<div class="tab enchiridion-document form-group enchiridion-drop" data-drop-type="asset" data-tab="{{document.uuid}}" data-uuid="{{document.uuid}}">
                    
    <div class="enchiridion-header">
        <div class = 'crop'>
            <img class="enchiridion-main-image cover enchiridion-drag enchiridion-drop" data-drop-type="mainImage" src="{{#if document.data.img}}{{document.data.img}}{{else}}icons/svg/mystery-man.svg{{/if}}" title="{{document.data.name}}" height="100%" width="100%"/>
        </div>
        <div class = 'enchiridion-banner'>
            <h1 class="enchiridion-title">
                <div class="enchiridion-icon"><a>
                    {{#if document.data.flags.enchiridion.icon}}
                        {{document.data.flags.enchiridion.icon}}
                        {{else enchiridionDefaultIcon document}}
                    {{/if}}
                </a></div>
                <div class = 'enchiridion-open-document enchiridion-name enchiridion-drag'><a>{{document.data.name}}</a></div>
            </h1>

            <div class = 'enchiridion-references enchiridion-drop' data-drop-type="references">
                
            </div>

        </div>

    </div>
    <hr>
    <div class="enchiridion-summary">
        <h2>Summary</h2>
        {{{enchiridionEnrich document.data.content}}}
        {{{enchiridionEnrich document.data.data.details.biography.value}}}
        {{{enchiridionEnrich document.data.data.description.value}}}
    </div>

    <div class="enchiridion-assets">
        <h2>Assets</h2>
        <ul class="enchiridion-asset-list">
            {{#each document.data.flags.enchiridion.assets as |asset key|}}
            <li class="enchiridion-asset enchiridion-drop private-{{asset.permissions.default}}" data-drop-type="swap" title="{{asset.name}}" data-name="{{asset.name}}" data-type='{{asset.type}}' data-id='{{asset.id}}' data-index='{{key}}' data-img = "{{asset.image}}">
                    <div class="crop">
                        <img class="enchiridion-asset-activate cover enchiridion-drag" src="{{asset.image}}" height="100%" width="100%" data-activation="0"/>
                    </div>
                    <input type="text" class="enchiridion-asset-name" value="{{asset.name}}" {{#notGM}}readonly{{/notGM}}>
                    <div>                             
                        {{#isGM}}
                            {{{enchiridionActivationIcon asset 1}}}
                            {{{enchiridionActivationIcon asset 2}}}
                            {{!--<a class="fas fa-lock enchiridion-asset-activate" data-activation="3" title = "Configure Permissions"></a>--}}
                            <a class="fas fa-times enchiridion-asset-activate" data-activation="4" title = "Remove Association"></a>
                        {{/isGM}}
                    </div>
                </li>
            {{/each}}
        </ul>
    </div>

    <div class="enchiridion-notes">
        <h2>
            <div>Notes <a class="fas fa-plus enchiridion-new-note"></a></div>
        </h2>
        <ul class = "enchiridion-note-list">
            {{#each document.data.flags.enchiridion.notes as |note key|}}
            <li class ="private-{{note.permissions.default}}">
                    <h3>
                        {{#isGM}}
                        <a class="fas fa-eye-slash enchiridion-hide-note"  data-index='{{key}}' title = "Hide From Players"></a>
                        <a class = "fas fa-times enchiridion-delete-note" data-index='{{key}}' title = "Delete"></a>
                        {{/isGM}}
                    </h3>
                    <div class="enchiridion-note enchiridion-drop" data-index='{{key}}' data-drop-type="note">{{{note.content}}}</div>
                </li>
            {{/each}}
        </ul>
    </div>

    {{#if document.data.items}}
    <div class="enchiridion-items">
        <h2>Owned Items</h2>
        <ol class="enchiridion-item-list">
            {{#each document.data.items as |item key|}}
            <li class="enchiridion-owned-item">
                <img class="enchiridion-owned-item" src="{{item.data.img}}" data-item-id="{{item.data._id}}" data-entity-id="{{item.data.data.sourceID}}" data-uuid="{{document.uuid}}" height="30" width="30"/>
                <div>{{item.data.name}}</div>
            </li>

            {{/each}}
        </ol>
    </div>
    {{/if}}

</div>