<form autocomplete="off" onsubmit="event.preventDefault();">
    <div class="form-group">
        <div class="form-fields">
            <div class="enchiridion-icon" data-tooltip="Icon | Leave unchanged for default icon"><a>❓</a></div>
            <input class="enchiridion-create-name" type="text" name="name" placeholder="Name" autocomplete="off" data-tooltip="Name" autofocus>
            <select class="enchiridion-select" name="type" data-tooltip="Type">
                {{#each documentTypes}}
                    <option value="{{this}}" style = "text-transform:capitalize;">{{this}}</option>
                {{/each}}
                <option value="Actor.Folder">Actor Folder</option>
                <option value="Item.Folder">Item Folder</option>
                <option value="JournalEntry.Folder">Journal Entry Folder</option>
            </select>
        </div>
    </div>
</form>
